    

    nav{
        display:none;
        flex-direction:column;
        gap:15px;
    }

    nav.active{
        display:flex;
    }

    nav a{
        display:block;
        margin:10px;
    }
footer{
    background:#000207;
    padding:20px;
    margin-top:30px;
}
